@import 'parts/container';
@import 'parts/reset';
@import 'parts/variables';
@import 'parts/header';
@import 'parts/typography';
@import 'parts/hero';
@import 'parts/current_series';
@import 'parts/digital_comics';
