.container {
  max-width: var(--container-md);
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #0282f9;
  --container-md: 81.25rem;
}

.header_top {
  background-color: var(--color-primary);
}
.header_top .content_header_top {
  display: flex;
  justify-content: flex-end;
  gap: 1.25rem;
}

body {
  background-color: pink;
}