.digital_comics {
    background-color: var(--color-primary);

    ul{
        display: flex;
        list-style: none;
        gap: 2.25rem;
        padding: 30px 0;

        li{
            display: flex;
            align-items: center;
            width: calc(100% / 5 - 2.25rem);
            color: white;
            gap: 1rem;

            img {
                height: 60px;
            }
        }
    }
}