.header_top {
    background-color: var(--color-primary);
    padding: .5rem;

    .content_header_top {
        display: flex;
        justify-content: flex-end;
        gap: 1.25rem;
        color: white;
        font-size: 12px;
    }
}

.header_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0;

    nav {
        ul {
            display: flex;
            list-style: none;
            gap: 1.50rem;
        }
    }

    .search_bar {
        border-bottom: .125rem solid var(--color-primary);

        input{
            border: none;
        }
    }
}

