.product {

    .barra_blu{
        background-color: var(--color-primary);
        min-height: 100px;

        .img_product {
            width: 200px;
            position: relative;
            color: white;
            position: absolute;
            transform: translateY(-80%);
            border: 1px solid white;
            display: flex;
            flex-direction: column;

            span {
                position: absolute;
                top: 0%;
                left: 0%;
                background-color: #00a9d9;
                padding: 8px 12px;

            }

            img{
                width: 100%;
            }

            div {
                background-color: #00a9d9;
                text-align: center;
                padding: 5px;
            }
        }
    }

    .content_product {
        display: flex;
        gap: 1.25rem;
        margin: 40px 0;
      
        &_left {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            h2 {
                font-size: 3.125rem;
            }

            p {
                font-size: 1.125rem;
            }

            .price{
                background-color: #55ba59;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: white;

                span {
                    margin-left: 20px;
                }
                
                .available {
                    display: flex;
                    align-items: center;
                    

                    div:nth-child(1) {
                        color: #adee75;
                        border-right: 1px solid black;
                        padding: 20px;
                    }

                    div:nth-child(2) {
                        color: white;
                        padding: 20px;
                    }
                }
            }
        }

        &_right {
            h4 {
                text-align: right;
            }
        }
    }

    .info_product {
        background-color: #f6f6f6;

        .info_flex {
            display: flex;
            gap: 1.25rem;

            .tablet {
                display: flex;
                flex-wrap: wrap;
                padding: 1.25rem 0;
                border-bottom: 1px solid lightgray ;

                div:nth-child(1) {
                    width: 50%
                }

                div:nth-child(2) {
                    width: 50%;
                } 
            }
           
            .talents, .specs {
                width: 50%;
            }

            h3 {
                padding: 20px 0;
                border-bottom: 1px solid lightgray;
                color: #003f80;
            }

            .blue{
                color: var(--color-primary);
                width: 50%;
            }
        }
    }

}