.product {

    .barra_blu{
        background-color: var(--color-primary);
        min-height: 100px;

        .img_product {
            width: 200px;
            position: relative;
            color: white;
            position: absolute;
            transform: translateY(-80%);
            border: 1px solid white;
            display: flex;
            flex-direction: column;

            span {
                position: absolute;
                top: 0%;
                left: 0%;
                background-color: #00a9d9;
                padding: 8px 12px;

            }

            img{
                width: 100%;
            }

            div {
                background-color: #00a9d9;
                text-align: center;
                padding: 5px;
            }
        }
    }

    .content_product {
        display: flex;
        gap: 1.25rem;
        margin: 40px 0;
      
        &_left {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            h2 {
                font-size: 3.125rem;
            }

            p {
                font-size: 1.125rem;
            }

            .price{
                background-color: #55ba59;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: white;

                span {
                    margin-left: 20px;
                }
                
                .available {
                    display: flex;
                    align-items: center;
                    

                    div:nth-child(1) {
                        color: #adee75;
                        border-right: 1px solid black;
                        padding: 20px;
                    }

                    div:nth-child(2) {
                        color: white;
                        padding: 20px;
                    }
                }
            }
        }

        &_right {
            h4 {
                text-align: right;
            }
        }
    }
}